<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <!-- Android 11+ hides other apps' activities unless the app declares what it looks for. -->
  <queries>
    <intent>
      <action android:name="android.speech.action.RECOGNIZE_SPEECH" />
    </intent>
    <intent>
      <action android:name="android.speech.RecognitionService" />
    </intent>
  </queries>
</manifest>
